@import '../../constants/constants.css';

button, .button {
  border: 0;
  outline: 0;
  min-height: 58px;
  text-align: center;
  background: transparent;
  color: var(--main-text);
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  display: block;

  & span {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  &.cancel {
    color: var(--cancel-text);
  }

  &.confirm {
    color: var(--delete);
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
