@import '../../constants/constants.css';

button, .button {
  border: 0;
  outline: 0;
  height: 58px;
  text-align: center;
  background: transparent;
  color: var(--main-text);
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  display: block;

  & span {
    display: block;
  }

  &.cancel {
    color: var(--cancel-text);
  }

  &.confirm {
    color: var(--confirm-text);
  }
}
