@import '../../constants/constants.css';

.list-form {
  & p {
    color: var(--mid);
  }
  & .list-title {
    margin-bottom: var(--plus-size);
  }
  & .form-section {
    box-sizing: border-box;
    padding: 0 var(--plus-size);
    border-bottom: 2px solid var(--bg-fade);
  }

  & input {
    width: 100%;
  }

  & .checkbox {
    width: auto;
    margin-left: 0;

    & .checkbox-dot {
      margin-right: 12px;
    }

    & span {
      color: var(--mid);
    }
  }

  & .delete-list {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid var(--bg-fade);
    border-bottom: 0;
    display: flex;
    align-items: center;

    &.deleting {
      background: var(--mid);
      & p {
        color: var(--white);
      }
    }

    & p {
      width: 60%;
      flex: 0 1 auto;
    }

    & .delete {
      color: var(--delete);
      text-align: left; 
    }

    & .cancel-delete {
      color: var(--cancel-text);
      text-align: right;
      flex: 0 1 auto;
      width: 20%;
    }

    & .confirm-delete {
      color: var(--delete);
      text-align: left;
      flex: 0 1 auto;
      width: 20%;
    }
  }

  & .create-button {
    color: var(--mid);
    text-align: right;
  }
}