@import '../../constants/constants.css';

.list {
  & .list-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  & .list-scroller {
    position: fixed;
    width: 100%;
    top: 60px;
    height: calc(100% - 180px);
    overflow-y: scroll;

    & .list-item {
      min-height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;

      & .item-title {
        flex: 1 1 auto;
        color: var(--mid);
        padding: 16px var(--plus-size);
        box-sizing: border-box;
        transform: translateY(2px);
      }

      & .remove-item {
        width: 60px;
        min-height: 50px;
        height: auto;
        flex: 0 0 auto;

        & span {
          transform: rotate(45deg) translateX(2px);
          color: var(--bg-fade);
          font-size: var(--plus-size);
        }
      }

      & .confirm-delete {
        width: 0;
        display: flex;
        background: var(--mid);
        height: 60px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        transition: width 0.3s;

        & button {
          height: 50px;
          margin: 0 14px;
        }

        &.deleting {
          width: 50%;
        }
      }

      &.with-check {
        & .item-title {
          padding: 16px 0px;
        }
      }
    }
  }

  & .add-item-field {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0px;
    box-sizing: border-box;
    border-top: 2px solid var(--bg-fade);

    & input {
      width: 100%;
      padding-left: 42px;
    }

    & .clear-add-item {
      width: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      pointer-events: none;

      & span {
        transition: transform 0.3s, color 0.3s, top 0.3s;
        position: relative;
        top: 4px;
        left: 7px;
        color: var(--bg-fade);
        font-size: var(--plus-size);
      }

      &.clear {
        pointer-events: auto;
        & span {
          transform: rotate(45deg);
          top: 4px;
          color: var(--mid);
        }
      }
    }

    & .confirm-add-item {
      width: 60px;
      position: absolute;
      top: 5px;
      right: 0px;
      color: var(--mid);
      font-size: var(--plus-size);
      
      &:disabled {
        color: var(--bg-fade);
      }
    }
  }

  & .reset-list {
    text-align: left;
    padding-left: var(--plus-size);
    margin-top: var(--plus-size);
    color: var(--delete);
  }

  & .list-controls {
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    width: 100%;

    & button {
      box-sizing: border-box;
      &.delete {
        text-align: left;
        padding-left: var(--plus-size);
      }
      &.edit {
        text-align: right;
        padding-right: var(--plus-size);
      }
      & span {
        color: var(--mid);
      }
    }
  }
}