:root {
  --black: #222;
  --bg: #FCE38A;
  --bg-fade: #E9C031;
  --mid: #F38181;
  --fore: #FCE38A;
  --main-text: #FCE38A;
  --cancel-text: #E05555;
  --confirm-text: #FCE38A;
  --plus-size: 22px;
}
