:root {
  --white: #fff;
  --bg: #FCE38A;
  --bg-fade: #E9C031;
  --mid: #333;
  --fore: #FCE38A;
  --main-text: #FCE38A;
  --cancel-text: #777;
  --confirm-text: #FCE38A;
  --delete: #FF5A5A;
  --plus-size: 22px;
}
