@import '../../constants/constants.css';

.list-title {
  background: var(--mid);
  width: 100%;
  text-align: left;
  border-bottom: 2px solid var(--fore);
  display: block;
  min-height: 60px;
  padding: 0 var(--plus-size);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  & .title-button {
    text-align: left;
    color: var(--white)
  }

  & .action-button {
    text-align: right;
    max-width: 60px;
    color: var(--cancel-text);
  }

  & .move-button {
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  & span {
    display: block;
  }

  &.being-moved {
    background: var(--white);
    & .title-button {
      color: var(--mid);
    }
  }
}