@import '../../constants/constants.css';

.list-title {
  background: var(--mid);
  width: 100%;
  text-align: left;
  border-bottom: 2px solid var(--fore);
  display: block;
  height: 60px;
  box-sizing: border-box;
  padding: 22px;
  display: flex;
  justify-content: space-between;

  & span {
    display: block;
    color: var(--main-text)
  }
}