@import '../../constants/constants.css';

.list-title {
  background: var(--mid);
  width: 100%;
  text-align: left;
  border-bottom: 2px solid var(--fore);
  display: block;
  min-height: 60px;
  padding: 0 var(--plus-size);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  & .title-button {
    text-align: left;
  }

  & .action-button {
    text-align: right;
    max-width: 60px;
  }

  & span {
    display: block;
    color: var(--main-text)
  }
}